# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod
# --- For-Database ------------ #
pymongo
motor
umongo
dnspython
git+https://github.com/vpcreatz/pyrofork-adv.git
marshmallow
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
